*{
  margin: 0;
  box-sizing: border-box;
}

.p{
  background-color: orange;
  color: white;
}

.divimg{
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin: 10px;
  overflow: hidden;
}

.img{
  height: 100px;
}

.span{
  display: flex;
  margin: 10px;
}

.span p:nth-child(1){
  font-weight: bolder;
}

.div{
  background-color: aliceblue;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.div:hover{
  transform: scale(1.1);
  transition: .3s;
}


.divMain{
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .input{
  margin-top: 50px;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 0;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.main .btn{
  width: 60px;
  padding: 5px 10px;
  background-color: tomato;
  color: white;
  border: 0;
  border-radius: 5px;
  margin: 10px 0 0 0;
}

.main .btn.sub:active,
.main .btn:active{
  transform: scale(1.1);
}

.main .btn.sub{
  margin-top: 10px;
  padding: 5px 10px;
  background-color: teal;
  color: white;
  border: 0;
  border-radius: 5px;
  margin: 10px 2px;
}

.h3{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.pagi button{
  background-color: tan;
  margin: 0 2px;
  border: 0;
  border-radius: 5px;
}